PORT="Put your port number here"

NODE_ENV=development

MONGODB_URI="Put your MongoDB URI here"


JWT_SECRET="Put your JWT secret here"

JWT_EXPIRES_IN= "1d"

# Nodemailer
CLIENT_ID="put your client id here"
CLIENT_SECRET="put your client secret here"
REFRESH_TOKEN="put your refresh token here"
EMAIL_USER="put your email user here"